<%-include('templates/init.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container">
    <div class="text-center mt-5">
        <h2>Solicitudes de validacion</h2>
    </div>
    <div class="border border-primary border-3 rounded mt-4 p-4"><!--Este es el contenedor-->
        <%
            datos.forEach((solicitud)=>
            {
        %>
        <div class="border border-dark border-3 bg-secondary rounded p-3 my-2">
            <div class="row">
                <div class="col">
                    <div class="my-3">
                        <label><h5 class="text-light">Expediente:</h5></label>
                        <input class="form-control" type="text" value="<%=solicitud.usuarioId%>" aria-label="readonly input example" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="my-3">
                        <label><h5 class="text-light">Fecha de solicitud:</h5></label>
                        <input class="form-control" type="text" value="<%=solicitud.fechaSolicitud%>" aria-label="readonly input example" readonly>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary col-12" href="/solicitud/<%=solicitud._id%>">Revisar solicitud</a>
        </div>
        <%
            });
        %>
    </div>
</div>
<%-include('templates/end.ejs')%>