<%-include('templates/init.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container">
    <div class="mt-5 mb-3 text-center">
        <div class="row">
            <div class="col">
                <h1>Información del usuario y validación</h1>
            </div>
            <div class="col-3 text-end">
                <a class="btn btn-primary btn-sm">Validar curso</a>
                <a class="btn btn-danger btn-sm">Rechazar validación</a>
            </div>
        </div>
    </div>
    <div class="border border-3 rounded border-primary p-3">
        <div class="row">
            <div class="col">
                <div class="my-3">
                    <label><h5>Nombre:</h5></label>
                    <input class="form-control" type="text" value="<%=usuario.nombre%> <%=usuario.apellidos%>" aria-label="readonly input example" readonly>
                </div>
                <div class="my-3">
                    <label><h5>CURP:</h5></label>
                    <input class="form-control" type="text" value="<%=usuario.curp%>" aria-label="readonly input example" readonly>
                </div>
            </div>
            <div class="col">
                <div class="my-3">
                    <label><h5>Fecha de solicitud:</h5></label>
                    <input class="form-control" type="text" value="<%=solicitud.fechaSolicitud%>" aria-label="readonly input example" readonly>
                </div>
                <div class="my-3">
                    <label><h5>Promedio:</h5></label>
                    <input class="form-control" type="text" value="<%=solicitud.reporte.calificacion%>" aria-label="readonly input example" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('templates/end.ejs')%>